*{ 
    background-color: rgb(255, 35, 30);
    text-align: center;
    
}
h1{
    font-family: 'Poppins',sans-serif;
    color: brown;
    position: relative;
    top: -220px;
}

.container{
    position: relative;
    top: 200px;
}
.respuestas{
    color: white;
    font-family: 'Poppins',sans-serif;
    height: 50px;
}

p{
    color: white;
    font-family: 'Poppins',sans-serif;
    height: 50px;
}

.btn_reiniciar{
        width: 80%;
        max-width: 330px;
        height: 68px;
        border-radius: 30px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        font-family: 'Poppins',sans-serif;
    }

        .btn_menu{
                width: 80%;
                max-width: 330px;
                height: 68px;
                border-radius: 30px;
                color: white;
                font-size: 15px;
                cursor: pointer;
                font-family: 'Poppins', sans-serif;
        }

        .botones{
            position: relative;
            top: 50px;
        }

        .btn,btn-lg btn-primary m-{
            color: white;
            font-family: 'Poppins',sans-serif;
            width: 30px;
            height: 30px;
            border: none;
            outline: none;
            line-height: 30px;
            cursor: pointer;
            background-color: brown;
        }